<h1 class="text-3xl">Adicionar casa</h1>

<%= render partial: "shared/errors" %>

<form action="/admin/listings" method="post" class="space-y-8 divide-y divide-gray-200">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="sm:col-span-6">
    <label for="title" class="block text-sm font-medium text-gray-700">
      Nome
    </label>
    <div class="mt-1">
      <input type="text" name="listing[title]" id="title" value="<%= @listing.title %>" class="block w-full border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
    </div>
  </div>

  <%# <div class="sm:col-span-6"> %>
  <%#   <label for="about" class="block text-sm font-medium text-gray-700"> %>
  <%#     Sobre %>
  <%#   </label> %>
  <%#   <textarea id="about" name="listing[about]" class="block w-full border border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"><%= @listing.about %1></textarea> %>
  <%# </div> %>

  <div class="sm:col-span-6">
    <label for="max_guests" class="block text-sm font-medium text-gray-700">
      Número máximo de hóspedes
    </label>
    <input type="number" id="max_guests" name="listing[max_guests]" value="<%= @listing.max_guests %>" min="1" max="100" step="1" class="block w-full border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
  </div>

  <%# <label for="nightly_price">Preço por noite</label> %>
  <%# <input type="number" id="nightly_price" name="listing[nightly_price]" value="<%= @listing.nightly_price %1>" min="1" step="1"> %>

  <%# <label for="cleaning_fee">Taxa de limpeza</label> %>
  <%# <input type="number" id="cleaning_fee" name="listing[cleaning_fee]" value="<%= @listing.cleaning_fee %1>" min="1" step="1"> %>

  <input type="submit" value="Create listing" class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
</form>
