<div class="flex min-h-screen bg-white">
  <div class="flex flex-col justify-center flex-1 px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="w-full max-w-sm mx-auto lg:w-96">
      <div>
        <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
          Entre com a sua conta
        </h2>

        <%# <%= render "devise/shared/error_messages", resource: resource %1> %>
        <%= render "shared/notices" %>
      </div>

      <div class="mt-8">
        <div>
          <div>
            <p class="text-sm font-medium text-gray-700">
              Entrar com
            </p>

            <div class="mt-1 grid grid-cols-1">
              <div>
                <a href="/users/auth/google_oauth2" data-method="post" class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50">
                  <span class="sr-only">Entrar com Google</span>
                  <img src="https://cdn.cdnlogo.com/logos/g/35/google-icon.svg" width="25">
                </a>
              </div>
            </div>
          </div>

          <div class="relative mt-6">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-center text-sm">
              <span class="px-2 text-gray-500 bg-white">
                Ou continue com
              </span>
            </div>
          </div>
        </div>

        <div class="mt-6">
          <form action="<%= session_path(resource_name) %>" method="POST" class="space-y-6">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div>
              <label for="email" class="block text-sm font-medium text-gray-700">
                Endereço de email
              </label>
              <div class="mt-1">
                <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email" class="block w-full px-3 py-2 placeholder-gray-400 border border-gray-300 appearance-none rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              </div>
            </div>

            <div class="space-y-1">
              <label for="password" class="block text-sm font-medium text-gray-700">
                Password
              </label>
              <div class="mt-1">
                <input autocomplete="new-password" type="password" name="user[password]" id="user_password" aria-autocomplete="list" class="block w-full px-3 py-2 placeholder-gray-400 border border-gray-300 appearance-none rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              </div>
            </div>

            <div class="flex items-center justify-between">
              <% if devise_mapping.rememberable? %>
                <div class="flex items-center">
                  <input id="remember-me" name="user[remember_me]" type="checkbox" class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500">
                  <label for="remember-me" class="block ml-2 text-sm text-gray-900">
                     Manter login de sessão
                  </label>
                </div>
              <% end %>
            </div>

            <div>
              <button type="submit" class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Fazer login
              </button>
            </div>

            <div class="text-sm space-y-4">
              <a href="<%= new_password_path(resource_name) %>" class="block font-medium text-indigo-600 hover:text-indigo-500">
                Esqueceu-se da password?
              </a>
              <a href="<%= new_registration_path(resource_name) %>" class="block font-medium text-indigo-600 hover:text-indigo-500">
                Registar uma nova conta?
              </a>
              <a href="<%= new_confirmation_path(resource_name) %>" class="block font-medium text-indigo-600 hover:text-indigo-500">
                Não recebeu email de confirmação?
              </a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="relative flex-1 hidden w-0 lg:block">
    <img class="absolute inset-0 object-cover w-full h-full" src="https://images.unsplash.com/photo-1562685530-ecb70b718501?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzNTIxNjU1OQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" alt="">
  </div>
</div>
